.example-card {
    max-width: 200px;
    padding-top: 0;
  }
  
  .example-header-image {
    background-image: url('../../assets/image/download.png');
    background-size: 100%;
  }
  .example-header-image{
      transform: scale(.8);
  }
  .mat-card-header .mat-card-subtitle:not(:first-child){
      align-items: center;
      margin-top: -10px;
  }
  .spacer {
    flex: 1 1 auto;
  }
 