<!-- <h1>
    Assalam-o-alikum,
        Welcome to Schools
</h1> -->

    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>DHA School</mat-card-title>
          <mat-card-subtitle>School in Karachi</mat-card-subtitle>
        </mat-card-header>
      <img mat-card-image src="../../assets/image/download.jpeg" alt="DHA School">
        <mat-card-content>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>DHA School</mat-card-title>
          <mat-card-subtitle>School in Karachi</mat-card-subtitle>
        </mat-card-header>
      <img mat-card-image src="../../assets/image/download.jpeg" alt="DHA School">
        <mat-card-content>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>DHA School</mat-card-title>
          <mat-card-subtitle>School in Karachi</mat-card-subtitle>
        </mat-card-header>
      <img mat-card-image src="../../assets/image/download.jpeg" alt="DHA School">
        <mat-card-content>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>DHA School</mat-card-title>
          <mat-card-subtitle>School in Karachi</mat-card-subtitle>
        </mat-card-header>
      <img mat-card-image  src="../../assets/image/download.jpeg" alt="DHA School">
        <mat-card-content>
        </mat-card-content>
      </mat-card>

